---
title: false
styles: true
---

@import "alembic";

$accentColour: #FFD500;

// Text colours
$headingColour: #353535;
$bodyColour: #111111;
$linkColour: #005BBB;
$hoverColour: #004288;
$focusColour: #FFD500;
